<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenBackground</string>
		<key>UIImageName</key>
		<string>LaunchScreenLogo</string>
	</dict>
	<key>AppGroupIdentifiers</key>
	<array>
		<string>group.me.pix3l.CassoFlow</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>me.pix3l.CassoFlow</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cassoflow</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
